@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary_1: #000;
  --primary_2: #ec5242;
  --primary_3: #78829b;
  --primary_4: #2e323b;
  --primary_5: #cac6c6;
  --secondary_1: #fff;
  --secondary_2: #ece9e9;
  --secondary_3: #d1cfcf;
  --secondary_4: #d3d3d3;
  --secondary_5: #f5220a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.header-menu,
.desktop-menu {
  display: none;
}

.header-menu {
  display: none;
}

.sidebar {
  display: none;
}

#about-handburger {
  padding-top: 6%;
  margin: 0 1em;
}

.handburger {
  content: "\f0c9";
  font-size: 40px;
  color: var(--primary_4);
}

.mobile-menu {
  display: none;
  background-color: #3c3a39;
  width: 100%;
  margin-top: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  list-style: none;
}

.menu1 {
  margin-top: 30px;
  margin-right: 10px;
}

.mobile-menu .sidebar-cancel {
  margin: 30px;
  color: var(--secondary_1);
}

.mobile-about-footer a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 20px;
}

.mobile-menu .menuPopUp a {
  display: flex;
  flex-direction: column;
  color: var(--secondary_1);
  margin-top: 3rem;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  list-style: none;
  margin-right: 2rem;
  text-align: center;
  text-decoration: none;
}

.about-first-section {
  background-color: var(--primary_5);
  margin-bottom: 50px;
}

#about-first-section {
  margin-right: 1em;
  margin-left: 1em;
  background-image: url('./images/bg-decorator-1.png'), url('./images/bg-decorator-2.png'), url('images/bg-decorator-3.png'), url('./images/bg-decorator-4.png');
  background-repeat: no-repeat;
  background-size: 20%, 24%, 10%, 10%;
  background-position: 0 10%, 90% 100%, 80% 50%, 90% 20%;
}

.first-section-background {
  background-color: var(--secondary_1);
  opacity: 0.8;
}

.about-mobile-first-section h1 {
  font-family: 'Lato', sans-serif;
  color: var(--primary_2);
  font-size: 32px;
  padding-top: 6%;
  width: 100%;
  text-align: center;
}

.about-mobile-first-section h2 {
  text-align: center;
  font-family: 'COCOGOOSE', Arial, sans-serif;
  font-size: 43px;
  width: 100%;
  color: var(--secondary_5);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-mobile-first-section p {
  margin-top: 15%;
  background-color: var(--secondary_1);
  border: 2px solid var(--secondary_4);
  color: var(--primary_4);
  padding: 20px;
  line-height: 20px;
  width: 100%;
  text-align: center;
}

.about-second-section h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-size: 27px;
  padding-bottom: 1%;
}

.about-mobile-first-section h3 {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: var(--primary_4);
  margin-top: 5%;
}

.about-mobile-first-section h4 {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: var(--primary_4);
  margin-top: 2%;
  padding-bottom: 10%;
}

.about-second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-second-section hr {
  border-bottom: 6px solid var(--primary_2);
  width: 5%;
}

.about-second-section p {
  color: #797474;
  padding-top: 1%;
}

.about-second-section .line3 {
  width: 100%;
  color: var(--primary_4);
  height: 20px;
}

.logo2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 25px;
  justify-content: center;
  border: 1px solid var(--primary_5);
  padding: 25px 27%;
  margin: 3% 0;
  text-align: center;
}

.about-third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--secondary_1);
}

.about-third-section h2 {
  justify-content: center;
  align-self: center;
  padding-top: 5%;
  border-top: 2px solid #808080;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.about-third-section h2::after {
  content: "";
  background-color: var(--primary_2);
  display: block;
  margin: 0 auto;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 0.5em;
}

.about-third-section p {
  justify-content: center;
  padding-top: 1em;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.techrunch-1 {
  position: relative;
  margin: 5% auto;
  width: 20rem;
  height: 12rem;
}

.techrunch-1 img {
  width: 100%;
  height: 100%;
}

.techrunch-1::before {
  position: absolute;
  display: block;
  content: "";
  background-color: rgba(255, 0, 0, 0.477);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.techrunch-1 span {
  font-family: 'COCOGOOSE', Arial, sans-serif;
  font-size: 30px;
}

.center-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--secondary_1);
  font-size: 18px;
  font-weight: 600;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners {
  background-color: #424146;
}

.partners h2 {
  text-align: center;
  padding-top: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #fff;
}

.partners h2::after {
  content: "";
  background-color: var(--primary_2);
  display: block;
  margin: 0 auto;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 0.5em;
}

.partners-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 15px;
  filter: opacity(0.5) drop-shadow(0 0 0 #fff);
}

.partners-logo img {
  width: 20%;
}

.mobile-about-footer {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mobile-about-footer img {
  width: 30%;
}

.mobile-about-footer a i {
  color: var(--primary_2);
}

.mobile-about-footer a span {
  color: var(--primary_4);
}

.footer-p {
  font-family: 'Lato', sans-serif;
  color: #161515;
}

@media all and (min-width: 768px) {
  #about-handburger {
    display: none;
  }

  .header-menu {
    display: flex;
    width: 100%;
    justify-content: right;
    background-color: var(--primary_4);
    padding-bottom: 20px;
    padding-top: 20px;
    position: fixed;
    z-index: 100;
  }

  .header-menu a {
    text-decoration: none;
    color: var(--secondary_1);
    margin-right: 40px;
    font-family: 'Lato', sans-serif;
  }

  .desktop-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary_1);
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: nowrap;
  }

  .desktop-menu a {
    text-decoration: none;
    margin-right: 40px;
    color: var(--primary_4);
    font-family: 'Lato', sans-serif;
  }

  .desktop-menu .os-logo {
    font-size: large;
    font-weight: bolder;
    white-space: nowrap;
  }

  .desktop-menu .fab {
    color: var(--primary_2);
    font-size: large;
    font-weight: bolder;
  }

  .desktop-menu .about {
    color: var(--primary_2);
  }

  .desktop-menu .OS-campaign {
    color: var(--primary_2);
    border: solid 3px var(--primary_2);
    padding: 7px;
    white-space: nowrap;
  }

  #about-first-page {
    padding-top: 60px;
  }

  .first-section-background {
    background-color: #f3ebeb;
  }

  .about-mobile-first-section h1 {
    font-size: 40px;
  }

  .about-mobile-first-section h2 {
    color: var(--secondary_5);
    font-size: 70px;
  }

  .about-mobile-first-section h2::after {
    content: "";
    background-color: var(--primary_2);
    display: block;
    margin: 0 auto;
    width: 1.3em;
    height: 2px;
    border-radius: 0.5px;
    margin-top: 0.5em;
  }

  .about-mobile-first-section p {
    margin: 5% auto;
    background-color: var(--secondary_1);
    border: 2px solid var(--secondary_4);
    color: var(--primary_4);
    padding: 50px;
    line-height: 25px;
    width: 60%;
  }

  .about-mobile-first-section h3 {
    font-size: 25px;
    text-align: center;
  }

  .about-mobile-first-section h4 {
    font-size: 18px;
    color: #202125;
  }

  .about-second-section {
    padding-top: 40px;
  }

  .about-second-section h3::after {
    content: "";
    background-color: var(--primary_2);
    display: block;
    margin: 0 auto;
    width: 1.5em;
    height: 2px;
    border-radius: 0.5px;
    margin-top: 0.5em;
  }

  .logo-2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 40px;
    justify-content: center;
    border: 1px solid var(--primary_5);
    padding: 25px 10%;
    margin: 3% 0;
    text-align: center;
  }

  .previous-event {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 350px;
  }

  .partners {
    display: none;
  }

  .mobile-about-footer {
    background-color: var(--primary_4);
  }

  .mobile-about-footer a {
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 20px;
  }

  .mobile-about-footer a i {
    color: var(--primary_2);
  }

  .mobile-about-footer a span {
    color: var(--secondary_1);
  }

  .footer-p {
    font-family: 'Lato', sans-serif;
    color: var(--secondary_1);
  }
}
