@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary_1: #000;
  --primary_2: #ec5242;
  --primary_3: #78829b;
  --primary_4: #2e323b;
  --secondary_1: #fff;
  --secondary_2: #ece9e9;
  --secondary_3: #d1cfcf;
  --sample: #272a31;
  --sample-2: #f73b26;
  --sample-3: #d3d3d3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.header-menu {
  display: none;
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  display: none;
  background-color: #3c3a39;
  width: 100%;
  margin-top: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  list-style: none;
}

.menu1 {
  padding-top: 6%;
  margin: 0 1em;
}

.mobile-menu .sidebar-cancel {
  margin: 30px;
  color: var(--secondary_1);
}

.mobile-second-page a {
  color: var(--secondary_1);
  font-size: xx-large;
  margin: auto;
  width: 25%;
}

.mobile-menu .menuPopUp a {
  display: flex;
  flex-direction: column;
  color: var(--secondary_1);
  margin-top: 3rem;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  list-style: none;
  margin-right: 2rem;
  text-align: center;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: end;
  width: 35px;
  height: 3px;
  margin-top: 7px;
  margin-right: 10px;
  background-color: var(--primary_1);
  font-size: 40px;
}

.sidebar {
  display: none;
}

.mobile-top-page {
  background-image: url(./images/home-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.mobile-first-page {
  margin-right: 1em;
  margin-left: 1em;
  background-image: url(./images/bg-decorator-1.png), url(./images/bg-decorator-2.png), url(./images/bg-decorator-3.png), url(./images/bg-decorator-4.png);
  background-repeat: no-repeat;
  background-size: 20%, 12%, 5%, 5%;
  background-position: 100% 50%, 60% 0%, 90% 3%, 5% 50%;
}

.mobile-first-page h1 {
  font-family: 'Lato', sans-serif;
  color: var(--primary_2);
  font-size: 25px;
  padding-top: 6%;
  width: 100%;
}

.mobile-first-page h2 {
  font-family: 'cocogoose', sans-serif;
  color: transparent;
  font-size: 40px;
  width: 100%;
  background-image: url(./images/font.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
}

.mobile-first-page p {
  margin-top: 20%;
  background-color: var(--secondary_2);
  border: 3px solid var(--secondary_1);
  color: var(--primary_4);
  padding: 20px;
  line-height: 25px;
  width: 100%;
}

.mobile-first-page h3 {
  font-family: 'cocogoose', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: var(--primary_4);
  margin-top: 5%;
}

.mobile-first-page h4 {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  color: var(--primary_4);
  margin-top: 2%;
  padding-bottom: 10%;
}

.mobile-second-page,
.card-flex {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-image: url(./images/xpattern.jpg);
  width: 100%;
  background-repeat: repeat;
  background-size: 10%;
  background-color: var(--primary_1);
  padding-top: 5%;
}

.mobile-second-page h2 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin: 1em auto;
  color: var(--secondary_1);
}

.mobile-second-page h2::after {
  content: "";
  background-color: var(--primary_2);
  display: block;
  margin: 0 auto;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 0.5em;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(252, 241, 241, 0.277);
  padding: 30px;
  margin-left: 1em;
  margin-right: 1em;
  gap: 20px;
}

.mobile-second-page h3 {
  color: var(--primary_2);
  font-size: 20px;
  margin: auto;
  width: 25%;
}

.mobile-second-page button {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: var(--secondary_1);
  background-color: var(--primary_2);
  margin: 30px 40px 30px 50px;
  padding: 20px 0 20px 0;
}

.mobile-second-page p {
  color: var(--secondary_1);
  font-size: 20px;
  margin: auto;
  width: 50%;
}

.mobile-second-page .all-program-link {
  display: none;
}

.mobile-third-page {
  background-color: var(--secondary_1);
  display: flex;
  flex-direction: column;
}

.mobile-third-page h2 {
  padding-top: 5%;
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

.mobile-third-page #event::after {
  content: "";
  background-color: var(--primary_2);
  display: block;
  margin: 0 auto;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 0.5em;
}

.speaker-1 {
  display: flex;
  align-items: center;
  margin: 0 10%;
}

.speaker-1 img {
  width: 100%;
  height: 100%;
}

.speaker-image {
  width: 8em;
  height: 8em;
  flex-shrink: 0;
  margin-top: 30px;
}

.speaker-1 h2 {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin-top: 0;
}

.speaker-1 h3 {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: var(--primary_2);
  font-style: italic;
  padding-top: 0.6em;
}

.speaker-1 h3::after {
  content: "";
  background-color: var(--primary_3);
  display: block;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.speaker-1 h4 {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  margin-top: 0;
}

.more-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 80px;
  padding-left: 80px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: var(--primary_3);
  background-color: var(--secondary_1);
  border: 1px solid var(--secondary_3);
  margin: 5% 8%;
}

.arrow {
  content: "\f078";
  color: var(--primary_2);
}

.mobile-third-page span {
  padding-right: 15px;
}

.partners {
  display: none;
}

.mobile-about-footer {
  display: none;
}

@media all and (min-width: 768px) {
  .header-menu {
    display: flex;
    width: 100%;
    justify-content: right;
    background-color: var(--primary_4);
    padding-bottom: 20px;
    padding-top: 20px;
    position: fixed;
  }

  .header-menu a {
    text-decoration: none;
    color: var(--secondary_1);
    margin-right: 40px;
    font-family: 'Lato', sans-serif;
  }

  .desktop-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary_1);
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: nowrap;
  }

  .desktop-menu a {
    text-decoration: none;
    margin-right: 40px;
    color: var(--primary_4);
    font-family: 'Lato', sans-serif;
  }

  .desktop-menu .os-logo {
    font-size: large;
    font-weight: bolder;
    white-space: nowrap;
  }

  .desktop-menu .fab {
    color: var(--primary_2);
    font-size: large;
    font-weight: bolder;
  }

  .desktop-menu .about {
    color: var(--primary_2);
  }

  .desktop-menu .OS-campaign {
    color: var(--primary_2);
    border: solid 3px var(--primary_2);
    padding: 7px;
    white-space: nowrap;
  }

  .menu1 {
    display: none;
  }

  .menu {
    display: none;
  }

  .partners img {
    flex-wrap: wrap;
    padding-right: 20px;
    padding-top: 20px;
    width: 150px;
    height: 60px;
  }

  .mobile-first-page h1 {
    font-size: 40px;
  }

  .mobile-first-page h2 {
    font-size: 70px;
    max-width: 90em;
  }

  .speaker-1 h2,
  h3,
  h4 {
    max-width: 10em;
  }

  .mobile-first-page h3 {
    max-width: 90em;
  }

  .mobile-first-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    margin-right: 1em;
    margin-left: 1em;
    background-size: 10%, 5%, 3%, 3%;
    background-position: 90% 97%, 60% 40%, 90% 3%, 5% 50%;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 h3,
  p {
    text-align: center;
  }

  .mobile-first-page p {
    margin-top: 5%;
    background-color: #f3e7e7;
    border: 3px solid var(--secondary_1);
    color: var(--primary_1);
    padding: 20px;
    line-height: 25px;
    width: 40%;
    font-size: 20px;
  }

  .card-box {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 20px;
    flex-wrap: wrap;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(252, 241, 241, 0.277);
    padding: 30px;
    width: 250px;
    margin-left: 0;
    margin-right: 2px;
    margin-bottom: 100px;
    height: 72%;
  }

  .card-4 {
    border: 4px solid var(--secondary_1);
  }

  .card-flex {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
    background-image: url(./images/xpattern.jpg);
    width: 100%;
    background-repeat: repeat;
    background-size: 10%;
    background-color: var(--primary_3);
    height: 100%;
  }

  .join-event-btn {
    display: none;
  }

  .mobile-second-page p {
    color: var(--secondary_1);
    font-size: 20px;
    text-align: center;
    width: 100%;
  }

  .mobile-second-page h3 {
    color: var(--primary_2);
    font-size: 20px;
    text-align: center;
    width: 25%;
  }

  .mobile-second-page a {
    color: var(--secondary_1);
    font-size: xx-large;
    text-align: center;
    width: 25%;
  }

  .mobile-second-page .all-program-link {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 10px;
    color: var(--secondary_1);
  }

  .speaker-1 {
    width: 35%;
    margin: 0;
  }

  .image-display-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 800px;
    margin-left: 350px;
    margin-top: 50px;
  }

  .mobile-third-page .more-btn {
    display: none;
  }

  .partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 30px;
    background-color: #424146;
  }

  .partners h2 {
    color: #919191;
  }

  .partners h2::after {
    content: "";
    background-color: #919191;
    display: block;
    width: 1.5em;
    height: 2px;
    border-radius: 0.5px;
    margin: 15px auto;
  }

  .partners-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    filter: opacity(0.5) drop-shadow(0 0 0 #fff);
  }

  .partners-logo .github {
    margin-left: 50px;
    margin-right: 50px;
  }

  .partners-logo .microverse {
    margin-left: 40px;
  }

  .mobile-about-footer {
    background-color: var(--secondary_2);
    display: flex;
    padding: 25px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .mobile-about-footer a {
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 20px;
  }

  .mobile-about-footer a i {
    color: var(--primary_2);
  }

  .mobile-about-footer a span {
    color: var(--primary_1);
  }

  .footer-p {
    font-family: 'Lato', sans-serif;
    color: #161515;
  }
}
